{% extends "layout.html" %}
{% block pagetitle %}
Code Editor - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ 'lib/DataTables/media/css/jquery.dataTables.min.css' | admin_asset_url }}">
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page_title">Code Editor</h1>
                <p class="text-muted">Halaman Modifikasi Dokumen</p>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Daftar Dokumen</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <form method="post">
                                        <div class="alert alert-info" style="display: none;">{{ selected_file.name }} has been succefully updated.</div>
                                        <div class="form-group">
                                            <label>{{ selected_theme | title }} : {{ selected_file.name }}</label>
                                            <textarea id="page-content" style="height: 350px; width: 100%;" name="content">{{ selected_file.content  }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Update File" class="btn btn-info">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Select theme to edit:</label>
                                        <select name="theme" class="form-control">
                                            {% for theme_name, file_data in files %}
                                            <option value="{{ theme_name }}" {% if theme_name == selected_theme %}selected="selected"{% endif %}>{{ theme_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive" role="grid">
                                        <table id="dt_basic" class="table table-striped dataTable">
                                            <tbody>
                                            {% for i, file in files[selected_theme] %}
                                            <tr>
                                                <td><a href="{{ 'code-editor/view' | link }}/?theme={{ selected_theme }}&file={{ file.name }}">{{ file.name }}</a></td>
                                            </tr>
                                            {% else %}
                                            <tr class="no-data">
                                                <td>No data founds</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'lib/editarea/edit_area_full.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    $(function(){
        /*editAreaLoader.init({
            id: "page-content"	// id of the textarea to transform
            ,start_highlight: true	// if start with highlight
            ,allow_resize: "both"
            ,allow_toggle: true
            ,word_wrap: true
            ,language: "en"
            ,syntax: "{{ selected_file.type }}"
        });*/
        var updated = "{{ updated }}";
        if (updated) {
            $('.alert').show();
            setTimeout(function () {
                window.location.href = window.location;
            }, 3000);
        }
    });
    $('select[name="theme"]').change(function () {
        var href = "{{ 'code-editor/view' | link }}?theme="+ $(this).val();
        window.location.href = href;
    });
</script>
{% endblock %}
