<div class="row">
    <div class="col-md-10">
        <div class="form-group">
            <label for="category_id">Nama Harga <span class="required">*</span></label>
            {% set pcategories = App.call.model("\\ExtensionsModel\\ProductPriceCategoryModel", 'getItems', {}) %}
            <select name="ProductPrices[category_id][]" class="form-control" id="category_id">
                {% for c_id, pcategory in pcategories %}
                <option value="{{ pcategory.id }}">{{ pcategory.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="price">Harga Dasar<span class="required">*</span></label>
            <input type="text" id="price" name="ProductPrices[unit_price][]" class="form-control" required>
        </div>
        <div class="form-group col-md-4">
            <label for="disc">Harga Diskon</label>
            <input type="text" id="disc" name="ProductPrices[discount][]" class="form-control" value="0">
        </div>
        <div class="form-group col-md-4">
            <label for="period">Durasi<span class="required">*</span></label>
            {% set periods = App.call.model("\\ExtensionsModel\\ProductModel", 'getPeriods', {}) %}
            <select name="ProductPrices[period][]" class="form-control" id="period">
                {% for period_id, period in periods %}
                <option value="{{ period_id }}">{{ period }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>&nbsp;</label>
            <a href="javascript:void(0);" onclick="removeprice(this);" title="Hapus item ini" {% if not show_delete_btn %}style="display:none;"{% endif %}>
                <i class="fa fa-trash-o fa-2x"></i>
            </a>
            <a href="javascript:void(0);" onclick="addItem(this);"><i class="fa fa-plus fa-2x"></i></a>
        </div>
    </div>
</div>