{% extends "layout.html" %}
{% block pagetitle %}
Tambah Produk Baru - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page_title">Tambah Produk Baru</h1>
                <p class="text-muted">Formulir penambahan produk baru</p>
            </div>
            <div class="col-sm-2 text-right">
                <a class="btn btn-default" href="{{ 'products/default/view' | link }}">Daftar Produk</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Kolom bertanda <span class="red">*</span> tidak boleh dikosongi
                        </div>
                        <div class="panel-body">
                            {% if message %}
                            <div class="alert {% if success %}alert-success{% else %}alert-warning{% endif %}">{{ message }}</div>
                            {% endif %}
                            <form method="post" name="product-create">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Title <span class="red">*</span></label>
                                        <input type="text" name="Product[title]" class="form-control"
                                               placeholder="Name of the product" value="{{ data.title }}" onchange="getSlug(this)">
                                    </div>
                                    <div class="form-group">
                                        <label>Permalink <span class="red">*</span></label>
                                        <input type="text" name="Product[slug]" class="form-control"
                                               placeholder="Permalink url of detail product" value="{{ data.slug }}" id="permalink">
                                    </div>
                                    <div class="form-group">
                                        <label>Category <span class="red">*</span></label>
                                        <select name="Product[category_id]" class="form-control">
                                            {% for category in categories %}
                                            <option value="{{ category.id }}" {% if data.category_id == category.id %}selected="selected"{% endif %}>{{ category.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Status <span class="red">*</span></label>
                                        <select name="Product[status]" class="form-control">
                                            {% set statuses = {'disabled':'Disabled', 'enabled':'Enabled'} %}
                                            {% for status, sname in statuses %}
                                            <option value="{{ status }}" {% if data.status == status %}selected="selected"{% endif %}>{{ sname }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control editor" name="Product[description]">{% if data.description %}{{ data.description }}{% endif %}</textarea>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <input type="submit" name="Submit" value="Create" class="btn btn-success btn-submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'js/bootstrap-fileupload.min.js' | admin_asset_url }}"></script>
<script type="text/javascript" src="{{ 'lib/tinymce/tinymce.min.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    $(function(){
        var success_message = "{{ message }}";
        var id = parseInt("{{ id }}");
        if (success_message && success_message.length > 0 && id > 0) {
            setTimeout(function () {
                window.location.href = "{{ 'products/default/update' | link }}/{{ id }}";
            }, 2000);
        }
    });
    function getSlug(data){
        $.ajax({
            'beforeSend': function() {  },
            'complete': function() {  },
            'url': "{{ 'blog/posts/get-slug' | link }}",
            'type':'post',
            'data':{'title':$(data).val()},
            'success': function(data) {
                $('#permalink').attr('value',data);
            }
        });
    }
</script>
{% endblock %}
